 /* //////////////////////////////////// HEADER PROJECTS SECTION */
#projects-blog {
    margin-top: 5%;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.project-header {
    margin-left: 0%;
    color: #292E47;
}
.projects-info {
    max-width: 100%;
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    justify-content: space-between;
    color: #6B708D;
}
.project-description {
    display: flex;
}
 .project-date {
     display: flex;
     align-items: center;
 }
 /* //////////////////////////////////// POST SECTION */
#project-post {
    margin-top: 5%;
    max-width: 100%;
    height: 900px;
    margin-left: 10%;
    margin-right: 10%;
}
.post-image{
    width:100%;
    height: 444px;
    overflow: hidden;
    box-shadow: 5px 10px 16px 10px rgba(151, 16, 192, 0.3);
}
.post-image img {
    width:100%;
    height: 444px;
    object-fit: cover; 
}
.post-text {
    margin-top: 50px;
    color:#6B708D;
}
 /* //////////////////////////////////// OTHER POSTS SECTION */
 #other-projects {
    max-width: 100%;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
}
.other-projects2  {
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 50px;
}
.container-projects2 {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    
}
.other-projects h2 {
    color:#292E47;
    padding-top: 50px;
}

.project-card {
    width: 340px;
    height: 444px;
    background-color: #FFFFFF;
    box-shadow: 0px 46.5686px 93.1373px rgba(0, 0, 0, 0.1); 
    color:#292E47
    } 

.project-card:hover
    {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}


