@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}
html, body {
    max-width: 1200px;
    font-family: Roboto, sans-serif;
    background-color: #F2F4FC;
    margin: auto;
}
h1{
font-family: Roboto;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 70px;
letter-spacing: 0em;
text-align: left;
}
h2{
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 59px;
letter-spacing: 0em;
text-align: left;
}
h3{
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 47px;
letter-spacing: 0em;
text-align: left;
}
h4{
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
}
.body-medium {
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
} 
.body-regular {
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
}
.headline-regular {
font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
}
.headline-medium {
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
}
.caption1 {
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
}
.caption2 {
font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
}

/* //////////////////////////////////// HEADER & NAV BAR  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
}
a:hover {color:#072AC8}
a:visited {color:#43D2FF;}

.logo {
    cursor: pointer;
}
.menu-items {
font-weight: 500;
font-size: 17px;
line-height: 130%;
}
nav li {
    display: inline-block;
    padding: 0px 20px;
    list-style-type: none;
}
nav li a {
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: #6B708D;
}
header button {
    padding: 15px 33px;
    background-color: #072AC8;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
}
header button:hover {
    transform: translateY(1px);
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.5);
}

/* //////////////////////////////////// HERO SECTION */

#hero {
    padding:5%;
}
.hero-container {
   display:flex;
   justify-content: space-between;
}
.content {
    width: 530px;
    height: 422px;
    padding-right: 10%;
}
.content h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #292E47;
}
.content p {
    width: 435px;
    height: 90px;
    left: 170px;
    top: 349px;
     font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #6B708D;
}
.button-main {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 0px 0px;
    list-style-type: none;
    width: 300px;
}
.see-more {
    display: flex;
}
.content a {
    text-decoration: none;
    cursor: pointer;
}
.button-main button {
    padding: 15px 33px;
    background-color: #072AC8;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
}
.button-main button:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.hero-image img {
    max-width: 570px;
    max-height: 650px; 
}
.hero-image {
    position: relative;
}
.card1 {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}
.card2 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: center;
}
.card1, .card2 {
    width: 190px;
    height: 216px;
    background-color: #FFFFFF;
    box-shadow: 0px 46.5686px 93.1373px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    transition: 0.3s;
    padding: 20px 25px;
}
.card1 img {
    width: 90%;
    margin: none;
}
.card2 img {
    width: 80%;
    margin-top: 10px;
}
.card2 p {
    text-align: center;
}
.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* //////////////////////////////////// CLIENTS SECTION */
.clients {
    width: 100%;
   margin:auto;
   padding-top: 50px;
}
.clients ul {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   list-style: none;
}
.clients li{
    display: flex;
}
.clients img {
    width: 100px;
    filter:grayscale(100%);
    cursor: pointer;
}
.clients img:hover {filter:none}

/* //////////////////////////////////// PROJECTS SECTION */

#recent-projects {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.projects  {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 50px;
}
.projects h2 {
    color:#292E47;
    padding-bottom: 50px;
}
.container-projects {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}
.project-text  {
    width: 340px;
    padding-left: 30px;
}
.project-text a {
    text-decoration: none;
    color:#072AC8;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
.project-card {
    width: 340px;
    height: 444px;
    background-color: #FFFFFF;
    box-shadow: 0px 46.5686px 93.1373px rgba(0, 0, 0, 0.1); 
    color:#292E47
    } 
.project-card:hover
    {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}

.project-img img {
    width: 340px;
    height: 240px;
}

/* //////////////////////////////////// TESTIMONIALS SECTION */
.section-testimonials {
    max-width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}
.testimonial {
    background-color:#292E47;
    background-image: url(/testimonial-section/orbit.png);
    background-position: 0%;
    background-size: cover;
    width: 90%;
    height: 620px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
}
.testimony-title {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    text-align: center;
}
.testimony-text {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 1;
    width: 100%;
    height: auto;
    text-align: center;
}
.client {
    display: block;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 2;
    width: 100%;
    margin-top: 2%;
}
.testimony-title h3 {
    color: white;
    text-align: center;
}
.testimony-text p {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 60%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    color: #FFC600;
    margin:auto;
}

.client-all {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 200px;
   margin: 0 auto;
}
.client-avatar {
    height: 50px;
    margin: 5px;
    display: inline-block;
   margin: 0 auto;
}
.client-name {
    display: block;
    padding: 5px;
    margin: 0px;
}
.client-org {
    padding:0px;
    margin: none;
    }
.client-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px;
}
.client-name p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #A2D6F9;
    margin: 0px;
}
.client-org p {
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 13px; 
    color:white;
    margin: 0px;
}
.memoji-top1 {
   left: 10%;
    top: 5%;
    position: absolute;
}
.memoji-top1 img {
    width: 150px;
    height: 150px;
}
.memoji-top2 {
    right:10%;
    top: 5%;
    position: absolute;
 }
 .memoji-top2 img {
     width: 150px;
     height: 150px;
 }
 .memoji-bottom1 {
    left: 10%;
    bottom: 5%;
    position: absolute;
 }
 .memoji-bottom1 img {
     width: 150px;
     height: 150px;
 }
 .memoji-bottom2 {
    right: 10%;
    bottom: 5%;
    position: absolute;
 }
 .memoji-bottom2 img {
     width: 150px;
     height: 150px;
 }

/* //////////////////////////////////// SERVICES SECTION */
#services-section {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
}
.services  {
    display: flex;
    width: 90%;
    flex-direction: column;
    padding-bottom: 50px;
}
.services h2 {
    color:#292E47;
    margin-bottom: 100px;
}
.services-container {
    display: grid; 
    margin: 0px;
    padding: 0px;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 1fr; 
    column-gap:30px;
    grid-row-gap: 2%;
}
.service-text  {
    width: 340px;
    padding-left: 30px;
    padding-right: 30px;
}
.service-text a {
    text-decoration: none;
    color:#072AC8;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.service-card1 {
    grid-area: 1 / 1 / 2 / 2; 
    width: 340px;
    height: 380px;
    background-color: #FFFFFF;
    box-shadow: 0px 46.5686px 93.1373px rgba(0, 0, 0, 0.1); 
    color:#292E47
    } 
.service-icon1 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #D1EDFF;
    margin-top: 40px;
    margin-left: 40px;
    padding-bottom: 0px;
    background-image: url(/services-section/icons/1.svg);
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    }
.service-card2 {
    grid-area: 1 / 2 / 2 / 3;
    width: 340px;
    height: 380px;
    background-color: #FFFFFF;
    box-shadow: 0px 46.5686px 93.1373px rgba(0, 0, 0, 0.1); 
    color:#292E47;
}
.service-icon2 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #D1EDFF;
    margin-top: 40px;
    margin-left: 40px;
    padding-bottom: 0px;
    background-image: url(/services-section/icons/2.svg);
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    }
.service-card3 {
    grid-area: 1 / 3 / 2 / 4; 
    width: 340px;
    height: 380px;
    background-color: #FFFFFF;
    box-shadow: 0px 46.5686px 93.1373px rgba(0, 0, 0, 0.1); 
    color:#292E47
}
.service-icon3 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #D1EDFF;
    margin-top: 40px;
    margin-left: 40px;
    padding-bottom: 0px;
    background-image: url(/services-section/icons/3.svg);
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    }
.service-card1:hover, .service-card2:hover, .service-card3:hover
    {box-shadow: 0 8px 10px 0 rgba(0,0,0,0.5);
    }

/* //////////////////////////////////// CALL TO ACTION SECTION */
#cta-section {
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    margin: auto;
    justify-content: center;
    }   
.cta {
    background-color:#FFC600;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    margin: auto;
}
.cta-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color:#292E47;
}
.cta-content h3 {
    margin: 10px;
    text-align: center;
}
.cta-content p {
    font-size: 24px;
    font-weight: 400;
    padding-bottom:30px;
    color:#6B708D;
}
.form2 {
	margin-bottom: 10%;
}
.form2 input {
    background-color: white;
}
.form__email {
    background-image:url(/newsletter/icon/mail.svg);
    background-position: 20px;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: white;
    padding-left: 60px;
 	border: 2px solid #CAD3DB;
	width: 393px;
    height: 80px;
	font-size: 17px;
	color: #0F121F;
}
.form__email input:focus {
    background-image: none;
}
.placeholder {
    padding: 50px 25px;
}
.form__email:focus {
	outline: 1px solid #3D9FFF;
}
.form__button { 
    padding: 15px 33px;
    background-color: #072AC8;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    width: 198px;
    height: 80px;
}
.form2 button:hover {
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.5);
}

/* //////////////////////////////////// FOOTER SECTION */
footer {
    display: flex;
    justify-content: space-between;
    padding:7%;
    max-width: 100%;
    margin: auto;
}
.adress p {
    color: #6B708D;
    line-height: 25px;
}
.map-site {
    display: grid; 
    width: 370px;
    grid-template-columns: 30% 30% 40%; 
    grid-template-rows: 45% 45%; 
    gap: 10% 10%; 
    grid-template-areas: 
      "site1 site2 site3"
      "site4 site5 site6"; 
  }
  .site1 { grid-area: site1; }
  .site2 { grid-area: site2; }
  .site3 { grid-area: site3; }
  .site4 { grid-area: site4; }
  .site5 { grid-area: site5; }
  .site6 { grid-area: site6; }

  .site1, .site2, .site3, .site4, .site5, .site6, a {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.3s ease 0s;
    color:#6B708D;
  } 
  .map-site a:active {color:#072AC8}
  .map-site a:visited {color:#292E47}
  .map-site a:hover {color:#3D9FFF}

  /* //////////////////////////////////// CONTACT PAGE */
#contact-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:5%;
    padding-bottom: 50px;
    max-width: 80%;
    margin: auto;
}
.form-title {
    color: #292E47;
}
.input-container 
input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
    font-size: 16px;
    color: rgb(128, 127, 127);
    top: -3px;
    transition: all 0.225s ease;
}
.styled-input {
    float: left;
    width: 48%;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}
.styled-input label {
    color: #999;
   font-size: 18px;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 25px;
    left: 0;
    transition: all 0.25s ease;
    pointer-events: none;
}
.styled-input.wide { 
    width: 100%;
    max-width: 100%;
}
.input-container input, textarea {
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 20px;
    border: 0;
    width: 100%;
    font-size: 16px;
    background-color:rgba(107, 112, 141, 0.1);
    color:#292E47
}
.input-container input:focus, textarea:focus {
    outline: 0;
    width: 100%;
    transition: all 0.075s ease;
}
.input-container textarea {
    width: 100%;
    min-height: 15em;
}
.input-container {
    width: 100%;
    max-width: 100%;
    margin: 20px auto 25px auto;
}
.submit-btn {
    width:100%;
    height: 60px;
    display: inline-block;
    background-color:#072AC8;
    border: none;
    color: white;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    transition: all 300ms ease;
}
.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}
  /* //////////////////////////////////// MEDIA QUERIES */

  /* //////////////////////////////////////////TABLET  */
  @media (min-width: 768px) and (max-width:900px){
    
    header button {
        padding: 10px 20px;
        background-color: #072AC8;
        color: white;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 130%;
        text-align: center;
    }
    nav li {
        display: inline-block;
        padding: 0px 10px;
        list-style-type: none;
    }
    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        margin:0%;
        padding:0%
     }
     #hero {
        padding:2%;
    }
     .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 700px;
        height: 500px;
        margin-left: 2%;
        margin-right: 2%;
        padding-left: 5%;
    }
    .content h1 {
        padding-bottom: 1%;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 70px;
        line-height: 80px;
        color: #292E47;

    }
    .content ul {
        list-style-type: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .content li {
        transition: all 0.3s ease 0s;
        color: #6B708D;
        margin: 0px;
    }
     .hero-image {
        position: relative;
        margin: auto;
    }
    .clients {
        width: 90%;
       margin:auto;
       padding-top: 50px;
    }
  
     .card2 {
        display: none;
    }
    .card1 {
        position: absolute;
        top: 450px;
        left: -30px;
        text-align: center;
    }
    #recent-projects {
        padding: 2%;
        display: flex;
        justify-content: center;
    }
    .container-projects {
        width: 100%;
        height: 100%;
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 20px;
   }
   .project-card {
       grid-area: none;
        display: flex; 
        flex-wrap: wrap;
   }
.section-testimonials {
    max-width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    margin: auto;
}
.testimonial {
    width: 100%;
}
   .memoji-top1, .memoji-top2 {
       top: 22%;
   }
   #services-section {
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
}
   .services-container {
       width: 100%;
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 1rem;
    }
 .service-card1, .service-card2, .service-card3 {
     grid-area: none;
 }
 .form__email {
     width: 300px;
 }
 .map-site {
     gap: 3% 3%;
 }
 #cta-section{
    max-width: 100%;
    padding-left: 2%;
    padding-right: 2%;
 }
}
  /* ////////////////////////////////////////// PHONE */
@media (min-width: 390px) and (max-width: 575.98px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10% 5%;
    }
    header button {
        padding: 8px 12px;
        background-color: #072AC8;
        color: white;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        text-align: center;
    }
    nav li {
        display: block;
        padding: 5px;
        list-style-type: none;
    }
    .menu-items {
        text-align: center;
    }
    #hero {
        padding:0%;
        width: 100%;
    }
    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 900px;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0px;
     }
     .content {
        padding: 0px;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .content h1 {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        margin-top: 0px;
        width: 100%;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 70px;
        color: #292E47;
    }
    .content p {
        max-width: 370px;
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 150%;
        color: #6B708D;
    }
    .button-main {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        padding: 0px 0px;
        list-style-type: none;
        width: 250px;
    }
    .see-more {
        padding: 0px 20px;
        color: #6B708D;
    }
    .button-main button {
        padding: 20px 20px;
        background-color: #072AC8;
        color: white;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 70%;
        text-align: center;
    }
    .button-main button:active {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }
    .hero-image img {
        margin: auto;
        padding-top: 90px;
        max-width: 370px;
        max-height: 650px;    
    }
     .hero-image {
        position: relative;
        margin: auto;
    }
     .card2, .card1 {
        display: none;
    }
    .clients {
        width: 100%;
        margin: auto;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .clients ul {
        flex-direction:column;
        justify-content: space-around;
        list-style: none;
        padding-left: 0px;
        margin-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    .clients li{
        padding:20px;
        margin: auto;
    }
    #recent-projects {
        padding: 2%;
        display: flex;
        justify-content: center;
    }
    .container-projects {
        width: 100%;
        height: 100%;
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 20px;
   }
   .project-card {
        width: 240px;
        height: 400px;
        grid-area: none;
        display: flex; 
        flex-wrap: wrap;
        background-color: #FFFFFF;
        box-shadow: 0px 46.5686px 93.1373px rgba(0, 0, 0, 0.1); 
        color:#292E47
    } 
    .project-img img {
        width: 240px;
        height: 180px;
    }
    .project-text  {
        width: 240px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .section-testimonials {
        max-width: 100%;
        padding-left: 2%;
        padding-right: 2%;
        margin: auto;
    }
    .testimonial {
        width: 100%;
    }
    .testimony-title h3 {
        color: white;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0%;
    }
   .memoji-top1, .memoji-top2, .memoji-bottom1, .memoji-bottom2 {
       display: none;
   }
   #services-section {
        width: 100%;
        padding: 2%;
        display: flex;
        justify-content: center;
    }
   .services-container {
       width: 100%;
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 1rem;
    }
    .service-text  {
        width: 280px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .services h2 {
        margin-bottom: 50px;
    }
    .service-text-link {
        padding-bottom: 10px;
    }
    .service-card1, .service-card2, .service-card3 {
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 380px;
    }
    .form__email {
         width: 300px;
    }
    #cta-section{
        max-width: 100%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .form__button { 
       font-size: 20px;
    }
    .form__email {
     font-size: 17px;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .adress p {
        color: #6B708D;
        line-height: 25px;
        text-align: center;
    }
    .map-site {
        max-width: fit-content;
        display: flex;
        flex-direction: column;
        margin: auto;
        line-height: 25px;
    }
}



